<!-- Displays a gallery of recipe thumbnails that link out to individual recipe pages. -->


<%- include ('../partials/boilerplate') %>

<div>
<h3>What's up Dog Pound</h3>
</div>

<h3><%= recipe.name %></h3>

<%- include ('../partials/end') %>